{
  "env": {
    "jasmine": true,
    "node": true,
    "browser": true,
    "builtin": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "auspost",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ]
}
